# Server Configuration
PORT=8080
NODE_ENV=production

# Redis Cloud Configuration
REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here
REDIS_PASSWORD=your_redis_password_here

# MongoDB Atlas Configuration
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority&appName=Cluster0
MONGO_HOST=your_mongo_host_here
MONGO_PORT=27017
MONGO_DB_NAME=zerodha

# API Configuration
YAHOO_FINANCE_ENABLED=true
CACHE_TTL_STOCK=60
CACHE_TTL_INDICES=120
CACHE_TTL_WATCHLIST=60

# Security Configuration
JWT_SECRET=your_jwt_secret_key_here
SESSION_SECRET=your_session_secret_here